* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 3%;
}

#container {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  gap: 1%;
  padding: 1%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#container div {
  width: 20%;
  height: 30%;
}

.secondContainer {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;

  padding: 1%;

  box-sizing: border-box;
}

#inputyAndCategoryDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.5);
}

#title {
  width: 100%;
  height: 5%;
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

p {
  width: 100%;
  height: 5%;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 1%;
}
.mealImgDiv {
  width: 20%;
  height: 30%;
  box-sizing: border-box;
  object-fit: cover;
}

.mealTitleDiv {
  text-align: center;
  border-bottom: 2px red solid;
}

.insturctionDiv {
  display: inline-block;
}

.insturctionDiv p {
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
}

.titleAndInsturctionDiv {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.infoDiv {
  word-break: break-all;
  padding: 1%;
  box-sizing: border-box;

  height: 20%;
}

li {
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
}

.ingredientsDiv {
  display: flex;
  flex-direction: row;

  padding: 1%;

  box-sizing: border-box;
}

.youtubeIfame {
  width: 50%;
  height: 40vh;
  border: 1px solid black;
}
.ingredientsTitle {
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;

  padding: 1%;
  box-sizing: border-box;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.box {
  cursor: pointer;
  transform: scale(0.75);
  transition: 0.5s;
  border: 1px solid black;
  box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
}

.box:hover {
  transform: scale(1);
  transition: 0.5s;

  box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
}

h3 {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1%;
  box-sizing: border-box;
}

#input {
  border-radius: 3px;
  border: 2px solid black;
  font-weight: bold;
}

#button {
  background-color: #ffffff;

  color: rgb(0, 0, 0);
  padding: 0.3em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  line-height: 1%;
}
#button:hover {
  background-color: #000000;
  color: #ffffff;
  transition: 0.5s;
}

#category {
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 3%;
  }

  #inputyAndCategoryDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12%;
  }
  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  #container div {
    width: 100%;
    height: 20%;
  }

  .secondContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;

    gap: 2%;
  }
  .mealImgDiv {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .mealImgDiv img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .titleAndInsturctionDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .youtubeIfame {
    width: 100%;
    height: 50%;
  }

  #input {
    height: 100%;
  }
  #category {
    height: 100%;
  }

  #button {
    height: 100%;
  }

  .mealTitleDiv {
    border-top: 2px red solid;
  }
  .mealTitleDiv h1 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 3%;
  }
  #inputyAndCategoryDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 4%;
  }

  #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
  }
  #container div {
    width: 100%;
    height: 20%;
  }

  .secondContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5%;

    gap: 2%;
  }
  .mealImgDiv {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .infoDiv li {
    font-size: 1.3rem;
  }
  .ingredientsTitle {
    font-size: 2rem;
  }
  .ingredientsDiv li {
    font-size: 1.3rem;
  }
  .mealTitleDiv h1 {
    font-size: 2.2rem;
  }
  .insturctionDiv p {
    font-size: 1.3rem;
  }
  .youtubeIfame {
    width: 100%;
    height: 30vh;
  }
  #button {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  #input {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  #category {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .box h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 3%;
  }

  #container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    gap: 1%;
    padding: 1%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  #container div {
    width: 20%;
    height: 35%;
  }

  .secondContainer {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;

    box-sizing: border-box;
  }

  #inputyAndCategoryDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.5);
  }

  #title {
    width: 100%;
    height: 5%;
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
  }

  p {
    width: 100%;
    height: 5%;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    padding: 1%;
  }
  .mealImgDiv {
    width: 20%;
    height: 30%;
    box-sizing: border-box;
    object-fit: cover;
  }
  .infoDiv li {
    font-size: 0.9rem;
  }

  .mealTitleDiv {
    width: 100%;
    text-align: center;

    border-bottom: 2px red solid;
  }

  .insturctionDiv {
    display: inline-block;
  }

  .insturctionDiv p {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
  }

  .titleAndInsturctionDiv {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
  }

  .infoDiv {
    word-break: break-all;
    padding: 1%;
    box-sizing: border-box;

    height: 20%;
  }

  li {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .ingredientsDiv {
    display: flex;
    flex-direction: row;

    padding: 1%;

    box-sizing: border-box;
  }

  .ingredientsDiv li {
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1%;
    box-sizing: border-box;
  }

  .youtubeIfame {
    width: 80%;
    height: 40vh;
    border: 1px solid black;
  }
  .ingredientsTitle {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;

    padding: 1%;
    box-sizing: border-box;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
  }

  .box {
    cursor: pointer;
    transform: scale(0.75);
    transition: 0.5s;
    border: 1px solid black;
    box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
  }

  .box:hover {
    transform: scale(1);
    transition: 0.5s;

    box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
  }

  h3 {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
  }

  #input {
    border-radius: 3px;
    border: 2px solid black;
    font-weight: bold;
  }

  #button {
    background-color: #ffffff;

    color: rgb(0, 0, 0);
    padding: 0.3em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    line-height: 1%;
  }
  #button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
  }

  #category {
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
  }

  .box {
    text-align: center;
    word-break: break-all;
    display: inline-block;
  }

  .box h3 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 3%;
  }

  #container {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    gap: 1%;
    padding: 1%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  #container div {
    width: 20%;
    height: 45%;
  }

  .secondContainer {
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;

    padding: 1%;

    box-sizing: border-box;
  }

  #inputyAndCategoryDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.5);
  }

  #title {
    width: 100%;
    height: 5%;
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
  }

  p {
    width: 100%;
    height: 5%;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    padding: 1%;
  }
  .mealImgDiv {
    width: 20%;
    height: 30%;
    box-sizing: border-box;
    object-fit: cover;
  }

  .mealTitleDiv {
    text-align: center;
    border-bottom: 2px red solid;
  }

  .insturctionDiv {
    display: inline-block;
  }

  .insturctionDiv p {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
  }

  .titleAndInsturctionDiv {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
  }

  .infoDiv {
    word-break: break-all;
    padding: 1%;
    box-sizing: border-box;

    height: 20%;
  }

  li {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .ingredientsDiv {
    display: flex;
    flex-direction: row;

    padding: 1%;

    box-sizing: border-box;
  }

  .youtubeIfame {
    width: 50%;
    height: 40vh;
    border: 1px solid black;
  }
  .ingredientsTitle {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;

    padding: 1%;
    box-sizing: border-box;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
  }

  .box {
    cursor: pointer;
    transform: scale(0.75);
    transition: 0.5s;
    border: 1px solid black;
    box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
  }

  .box:hover {
    transform: scale(1);
    transition: 0.5s;

    box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.5)";
  }

  h3 {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    box-sizing: border-box;
  }

  #input {
    border-radius: 3px;
    border: 2px solid black;
    font-weight: bold;
  }

  #button {
    background-color: #ffffff;

    color: rgb(0, 0, 0);
    padding: 0.3em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    line-height: 1%;
  }
  #button:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
  }

  #category {
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
  }
}
